# Built Documentation Reference Pages
docs/

# Ignore Python Compiled Files
*.pyc
*.pyo
*__pycache__/
dist/
build/
*.egg-info/
.idea/

# Ignore TOX
.tox/

# Ignore .venv
.venv/

#Ignore PyCharm
.idea/

#Ignore script.py ans urls.json
script.py
urls.json
# Ignore Swap Files
*swp
